<div id="home">
	<div id="alpha_wrapper">
		<div id="alpha_2">
		</div>
		<div id="text_holder_2">
			<h1 >Find your perfect tutor</h1>
				<h2>Get instant Help</h2>
				<%= link_to "Find A Tutor", profiles_path, class: 'hero-button-link', id: 'hero' %>
		</div>
	</div>
</div>